body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}
*{
    padding:0;
    margin:0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.mainWidth{
  width:1440px;
  margin:0 auto;
}
.el-input-group__append{
  background:#e1251b;
  .el-icon-search{
    font-size: 24px;
    color:#fff;
    
  }
}
.search{
  .el-input{
    border:3px solid #e1251b;
  }
  .el-input__inner{
    border:none
  }
}
$directions:("t":"top", "b":"bottom", "l":"left", "r":"right");
$dimensions:("p":"padding", "m":"margin");
@each $dim in $dimensions { @each $dir in $directions { @for $i from 1 through 280 { $size: $i*1; .#{nth($dim,1)}#{nth($dir,1)}#{$size} { #{nth($dim,2)}-#{nth($dir,2)}: #{$size}px; } } } }
@for $j from 1 through 100 {
  .font#{$j}{
      font-size: $j * 1px;
  }
}
